const firebaseConfig = {
  apiKey: "AIzaSyCGlENmoXIMIpNO5NGToS2ZuPmXJMWv69Y",
  authDomain: "dragons-den-2bd34.firebaseapp.com",
  projectId: "dragons-den-2bd34",
  storageBucket: "dragons-den-2bd34.firebasestorage.app",
  messagingSenderId: "346319276387",
  appId: "1:346319276387:web:3e1f9972e9b6a8dc002b56"
};
